{% load static %}
<title> Mana House </title>
<link rel="shortcut icon" type="image/png" href="/static/img/potion.png">
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="stylesheet" href="/static/css/faq.css" />
<div id="top"></div>
<div id="swoop"></div>
<div id="title">Mana House
    <div class="sub">Round Rock, TX</div>
</div>
<div id="topSpacer"></div>    
<!-- Summary -->
<div id="fold1">
    <div id="brief">
        <h3>
       Coliving for growth

        </h3>
        <p> Mana House is coliving for entrepreneurs, educators, software developers, and researchers, located in a quiet Round Rock neighborhood close to nature trails, a 20 minutes drive to Domain and 30 minutes to Austin proper. The house is 4 bedrooms 3 bathrooms, including a large master suite, and so far we have one extra unit (a trailer) out back. We are building and growing now – come join us!

    </div>
    <div id="map"></div>

    <div id="opps">
        <div class="opp">
            <h2>Resident</h2>
            <ul>
                <li> 3+ months, flexible terms
                <li> Private rooms from $795
                <li> Shared rooms from $595
                <li> Live with awesome people
            </ul>
            <div class="booknow">
                <a href="https://dtxr6go41uq.typeform.com/to/lf5xr7cH" target="_blank">JOIN US</a>
            </div>

        </div>
        <div class="opp">
            <h2>Catalyst Resident</h2>
            <ul>
                <li> 2 - 8 weeks <u>rent-free</u> (contribution based)
                <li> Offered to the first 2-3 residents
                <li> Help shape our culture and vibe
            </ul>
            <div class="booknow">
                <a href="mailto: charlie@vannorman.ai?subject=Catalyst Resident at Mana House&body=Thanks for your interest in becoming a Catalyst Resident! Please write a few sentences about your experience with coliving, and what contributions you could bring to Mana House." target="_blank">APPLY NOW</a>
            </div>

        </div>
    </div>

</div>

<!-- FAQ -->
<div id="faq">
    <div class="title2"> FAQ </div>

    <button class="accordion">What's the Round Rock neighborhood like?</button>
        <div class="panel">
              <p>Very nice, safe, clean neighborhood. Bike required for local shops access (1 mile). Car recommended.
        </p>
        </div>
    <button class="accordion">Who are the current residents?</button>
        <div class="panel">
          <p>Charlie, the owner, is an entrepreneur using AI for game and web development. The house is brand new, so the remaining rooms are airbnb guests for now, and we're actively looking for our first long-term residents.
        </p>
        </div>

    <button class="accordion">How far from Downtown Austin?</button>
        <div class="panel">
        <p> 35 minutes.
        </p>
        </div>



</div>


<!-- PRICING & ACOCMODATIONS -->
<div id="pricing">
    <div class="title2">PRICING & ACCOMODATIONS</div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bunk.jpg)";></div>
        <div class="desc">  
            <h3> Bunk room ($595) </h3>Full bed. Room sleeps between 2-4. Bath shared with 3-4 people.
        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bed.jpg)";></div>
        <div class="desc">  
            <h3> Private bedroom ($795) </h3>Queen bed. Bath shared with 3-4 people.

        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bedroom.jpg)";></div>
        <div class="desc">  
            <h3> Master Suite ($1190) </h3> Large room with 2 beds, includes private master bathroom.
        </div>
    </div>
</div>

        <div class="booknow">
            <a href="mailto: charlie@vannorman.ai?subject=Living at Mana House" target="_blank">APPLY NOW</a>
        </div>



<!-- Mosaic -->
<div class="title2">THE PROPERTY </div>
<div class="container">
    <div class="tile">
        <img src="{% static "img/1.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/2.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/3.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/4.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/8.jpg" %}" alt="">
    </div>
</div>

    <br><br><br>
        <div class="booknow">
            <a href="https://airbnb.com/rooms/843345672223944033" target="_blank">Book on Airbnb</a>
            <br>
            <a href="https://dtxr6go41uq.typeform.com/to/lf5xr7cH" target="_blank">APPLY NOW</a>
            <br>
        </div>


    <div class="title2">Mana House</div>
    <div style="text-align:center;">Contact: Charlie 650-695-8930</div>
<div id="footer"> Round Rock, TX </div>
<script src="/static/js/faq.js"></script>

