#top {
    background-image:url(/static/img/top.jpg);background-size:cover;background-repeat:no-repeat;background-position:left center;
    position:absolute;top:0;left:0;width:100%;height:300px;
}

#swoop { background-image:url('/static/img/wave-haikei.svg'); background-size:cover;background-position:center; width:100%; height:600px; position:absolute; top:0;left:0;}

#title {
position:absolute; left:60px;top:100px;
font-family:cloisterBlack;
    font-size:40px;
}

#main {
    position:relative; top: 300px; left:0;width:960px;margin:0 auto; outline:1px dotted blue;padding:15px;
}

#main_a, #main_b, #main_c {
    outline:1px solid purple;
    margin: 10px;
    display: inline-block;
    width:290px;
    height:420px;
}

#main_a { background-color: #3399aa}
#main_b { background-color: #33aa99}
#main_c { background-color: #6699ff}

@font-face {
    font-family: cloisterBlack;
    src: url(/static/fonts/CloisterBlack.ttf);
}
