{% load static %}

<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />
<div id="top"></div>
<div id="swoop"></div>
<div id="title">Puerto Rico</div>
<div id="main">
    <div id="summary">
       Mana Retreat Center is an ultra private, 3-unit, 5-acre property nestled in the tropical rainforest mountains; perfect for your small gathering. With two sources of internet including Starlink, your remote team is never offline, and with caves and beaches a short drive away your days will be full of adventure. 
    </div>
    <div id="main_a"></div>
    <div id="main_b"></div>
    <div id="main_c"></div>
</div>
