{% load static %}

<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />
<div id="top"></div>
<div id="swoop"></div>
<div id="title">Puerto Rico</div>
    
<!-- Summary -->
    <div id="summary">
<h1>    Join us Friday - Sunday for a yoga and meditation retreat in Puerto Rico! </h1>
    <div class="pic">
    </div>
    <div id="buttonsList">
        <div class="bList">
            <!-- 
            <div class="bItem"> Retreats </div>
            <div class="bItem"> Weddings </div>
            <div class="bItem"> Corporate Offsite</div>
            <div class="bItem"> Birthdays </div>
            <div class="bItem"> Family Vacation </div>
            <div class="bItem"> Team Building </div> -->
        </div>
    </div>
<p>       Mana Retreat Event Center is an ultra private, quiet, and lush  vacation getaway hidden away on 5 acres in the tropical rainforest mountains. Come experience a wonderful weekend with us while we meditate and stretch by the serene green canopy of the jungle!  </p>
    


    <form action="https://forms.gle/cXHngeGVYwMFBDfL6">
        <input class="apply" type="submit" value="APPLY NOW" />
    </form>


    <p> Agenda: 
        <ul>
            <li> Friday: Arrival, dinner, etc</li>
            <li> Saturday </li>
            <ul>
                <li> Meditation by Anna Yzman </li>
                <li> Lunch & Games </li>
                <li> Relax & Explore </li>
                <li> Sunset Beach Trip</li>
                <li> Dinner </li>
                <li> Stretch workshop </li>
                
            </ul>
            <li> Sunday </li>
            <ul>
                <li> Catered brunch with local chef </li>
                <li> Cave Trip + Swim </li>
                <li> Final yoga</li>
                <li> Goodbye! </li>
            </ul>
        </ul>
    </div>



<!-- Mosaic -->
<div class="container">
    <div class="tile">
        <img src="{% static "img/mana1.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana2.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana3.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana4.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana5.webp" %}" alt="">
    </div>
</div>

<div id="main">

    <H2> MEET THE TEAM! </h2>
    <div id="main_a">
        <h2> Paula Mendoza</h2>
        Master event orchestrater    
    Certified cool person
    
    </div>
    <div id="main_b">
        <h2> Charlie Van Norman:</h2>
        Center manager
        Regenerative developer
    </div>
    <div id="main_c">
        <h2> Anna Horowitz</h2>
        Yoga practitioner
        
    </div>
</div>


