{% load static %}

<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />
<div id="top"></div>
<div id="swoop"></div>
<div id="title">Puerto Rico</div>
    
<!-- Summary -->
    <div id="summary">
    <div id="buttonsList">
        <div class="bList">
            <div class="bItem"> Retreats </div>
            <div class="bItem"> Weddings </div>
            <div class="bItem"> Corporate Offsite</div>
            <div class="bItem"> Birthdays </div>
            <div class="bItem"> Family Vacation </div>
            <div class="bItem"> Team Building </div>
        </div>
    </div>
<p>       Mana Retreat Event Center is an ultra private, quiet, and lush  property nestled in the tropical rainforest mountains; perfect for your small gathering. With two sources of internet including Starlink, your remote team is never offline, and with caves and beaches a short drive away your days will be full of adventure.  </p>
    <p> Our deets: 
        <ul>
            <li> 5 acres </li>
            <li> 7 bedrooms </li>
            <li> 3 kitchens </li>
            <li> 2  gathering spaces</li>
            <li> 11 beds, 2 sofas, 8 trifolds (sleeps up to 25 including doubles) </li>
        </ul>
    </div>



<!-- Mosaic -->
<div class="container">
    <div class="tile">
        <img src="{% static "img/mana1.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana2.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana3.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana4.webp" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/mana5.webp" %}" alt="">
    </div>
</div>

<div id="main">


    <div id="main_a">
        <h2> Book us on Airbnb:</h2>
        Just want to rent the space, no frills or extras? Find us on Airbnb: <a href='https://www.airbnb.com/rooms/583927293498212293'>Mana Retreat Center</a>
    <br><br>
       <span class='button'> <button> BOOK NOW </button> </span>
    </div>
    <div id="main_b">
        <h2> Corporate Offsite:</h2>
        From your group's arrival to the airport, get the white glove treatment with full catering, pre-paid dining experiences, zipline tours, sunset beach walks, cave explorations, and more -- all while your team has a fully stocked fridge and double WiFi options at the ultra private coworking ranch.
    <br><br>
       <span class='button'> <button> BOOK NOW </button> </span>
    </div>
    <div id="main_c">
        <h2> Retreat Experience:</h2>
        Are you hosting a yoga, meditation, or medicinal retreat? How about a leadership summit? We've got you covered; with a dedicated meditation room, outdoor gathering space, and 5 acres of private property to explore, you're guaranteed to create an experience to remember.
    <br><br>
       <span class='button'> <button> BOOK NOW </button> </span>
        
    </div>
</div>


